# Text Mining Project

### NOVA IMS MT Metrics Shared Task

**Group members:**
- Lorenzo Pigozzi	--- m20200745
- Davide Farinati
- Antonio
- Luis Reis

**Objective**

The goal of this project is to develop a metric that predicts the quality of a translation using the reference. 

\
**Evaluation**\
Your metric should correlate well with the existing quality assessments that you have in the above corpus.
The one that we have so far are just the training sets, we will have a test set without the z-score, average score and annotators.
Produce our own metric that will be compared with the existing ones.

<a class="anchor" id="0.1"></a>
# **Table of Contents**

1.	[Importing libraries and corpora](#1)   
2.	[Brief Exploratory data analysis (EDA)](#2)       
3.	[Baseline](#3)     
 3.1. [Pre-processing](#3.1.)\
 3.2. [Feature Extraction](#3.2.)\
 3.3. [Model](#3.3.)\
 3.4. [Evaluation](#3.4.)

**Notes**\
Sklearn:
https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html

## 1. Importing libraries and corpora <a class="anchor" id="1"></a>

In [1]:
# general libraries
import pandas as pd
import numpy as np
import re 
import matplotlib.pyplot as plt
from tqdm import tqdm_notebook as tqdm

# word's preprocessing
import nltk
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from nltk.corpus import wordnet
from nltk.stem import SnowballStemmer
from nltk.translate.bleu_score import sentence_bleu
from bs4 import BeautifulSoup
import string

# sklearn
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

In [469]:
# importing the corpora
cs_en = pd.read_csv('corpus\cs-en\scores.csv')
de_en = pd.read_csv('corpus\de-en\scores.csv')
ru_en = pd.read_csv('corpus\scores_ru-en.csv')
zh_en = pd.read_csv('corpus\zh-en\scores.csv')
en_fi = pd.read_csv('corpus\en-fi\scores.csv')
en_zh = pd.read_csv('corpus\en-zh\scores.csv')

## 2. Brief Exploratory Data Analysis <a class="anchor" id="2"></a>

In [470]:
en_fi.head()

,source,reference,translation,z-score,avg-score,annotators
0,"You can turn yourself into a pineapple, a dog ...","Voit muuttaa itsesi ananasta, koirasta tai Roy...","Voit muuttaa itsesi ananakseksi, koiraksi tai ...",-0.286195,34.20,5
1,Also shot were three men: two 29-year-olds and...,Myös ammuttiin kolme miestä: kaksi 29-vuotiait...,Myös kolmea miestä ammuttiin: kahta 29-vuotias...,0.547076,58.40,5
2,The information is stored at the cash register...,Tiedot tallennetaan kassakoneisiin joka tapauk...,Tiedot kuitenkin tallentuvat kassoilla joka ta...,1.122476,74.60,5
3,Xinhua says that there were traces of hydrochl...,"Xinhua kertoo, että Xinyin näytteestä oli sunn...","Xinhua kertoo, että Xinyin sunnuntaina antamas...",0.383095,53.60,5
4,"MacDonald, who was brought on board CBC's comm...",Voitaisiin kuulla CBD: n kommenttitiimin toimi...,"MacDonaldin, joka tuli CBC:n selostajatiimiin ...",-0.493065,32.25,4

**Notes**\
All the the Dataframes imported have 6 columns:
- Sources: the original text in the original language
- Reference: The correct translation
- Translation: the translation that we will evaluate
- Z-score: score of the translation normalized
- Avg-score: score of the translation from 0 to 100
- Annotators: number of annotators

In [471]:
print('Total number of translations : ',len(cs_en) + len(de_en) + len(ru_en) + len(zh_en) + len(en_fi) + len(en_zh) )

Total number of translations :  94657

## 3. Baseline <a class="anchor" id="3"></a>

**Idea**\
Splitting the problem in 3:
- estimate the translations from other languages to English
- estimate the translations from English to Finnish
- estimate the translations from English to Chinese

\
Reason:\
Proably going forward we will need to have different preprocessing for English and for the other 2 languages

### 3.1. Pre-processing <a class="anchor" id="3.1."></a>

In [472]:
cs_en.head()

,source,reference,translation,z-score,avg-score,annotators
0,Uchopíte pak zbraň mezi své předloktí a rameno...,You will then grab the weapon between your for...,You then grasp the gun between your forearm an...,-0.675383,60.000000,3
1,"Ale je-li New York změna, pak je to také znovu...","But if New York is changed, then it's also a r...","But if New York is change, it is also reinvent...",-0.829403,44.000000,2
2,"Dlouho a intenzivně jsem během léta přemýšlel,...",I have been thinking over and over again over ...,I have thought long and hard over the course o...,0.803185,96.500000,2
3,"Najdou si jiný způsob, jak někde podvádět.",They find another way to cheat somewhere.,They will find another way how to defraud others.,0.563149,90.500000,2
4,Zpráva o výměně v čele prezidentovy administra...,The report on the replacement of the president...,The news of the replacement at the top of the ...,0.021549,74.666667,3

In [473]:
# selecting the necessary variables for the baseline
cs_en = cs_en[['reference','translation','avg-score','z-score']]
de_en = de_en[['reference','translation','avg-score','z-score']]
ru_en = ru_en[['reference','translation','avg-score','z-score']]
zh_en = zh_en[['reference','translation','avg-score','z-score']]

In [474]:
cs_en.head()

,reference,translation,avg-score,z-score
0,You will then grab the weapon between your for...,You then grasp the gun between your forearm an...,60.000000,-0.675383
1,"But if New York is changed, then it's also a r...","But if New York is change, it is also reinvent...",44.000000,-0.829403
2,I have been thinking over and over again over ...,I have thought long and hard over the course o...,96.500000,0.803185
3,They find another way to cheat somewhere.,They will find another way how to defraud others.,90.500000,0.563149
4,The report on the replacement of the president...,The news of the replacement at the top of the ...,74.666667,0.021549

In [475]:
# joining the 4 datasets with English translations
df = pd.concat([cs_en, de_en, ru_en, zh_en], axis = 0).reset_index(drop=True)

In [476]:
# a few options for preprocessing
stop = set(stopwords.words('english'))
exclude = set(string.punctuation)
lemma = WordNetLemmatizer()

In [477]:
# function to clean the text
def clean(text_list, lemmatize=False):
    """
    Function that a receives a list of strings and preprocesses it.
    
    :param text_list: List of strings.
    :param lemmatize: Tag to apply lemmatization if True.
    :param stemmer: Tag to apply the stemmer if True.
    """
    updates = []
    for j in tqdm(range(len(text_list))):
        
        text = text_list[j]
        
        #LOWERCASE TEXT
        text = text.lower()
        
        #REMOVE NUMERICAL DATA AND PUNCTUATION
        text = re.sub("[^a-z]", ' ', text)
        
        #REMOVE TAGS
        text = BeautifulSoup(text).get_text()
        
        if lemmatize:
            text = " ".join(lemma.lemmatize(word) for word in text.split())
        
        updates.append(text)
        
    return updates

# function to update the dataframe with the cleaned text
def update_df(dataframe, list_updated, variable):
    dataframe.update(pd.DataFrame({variable: list_updated}))

In [478]:
# cleaning the references
updates_reference = clean(df["reference"], lemmatize = True)
update_df(df, updates_reference, "reference")

<ipython-input-477-6ecb4a442cb3>:11: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for j in tqdm(range(len(text_list))):

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=77688.0), HTML(value='')))

In [479]:
# cleaning the translations
updates_translation = clean(df["translation"], lemmatize = True)
update_df(df, updates_translation, "translation")
df.head()

<ipython-input-477-6ecb4a442cb3>:11: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for j in tqdm(range(len(text_list))):

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=77688.0), HTML(value='')))

,reference,translation,avg-score,z-score
0,you will then grab the weapon between your for...,you then grasp the gun between your forearm an...,60.000000,-0.675383
1,but if new york is changed then it s also a re...,but if new york is change it is also reinvention,44.000000,-0.829403
2,i have been thinking over and over again over ...,i have thought long and hard over the course o...,96.500000,0.803185
3,they find another way to cheat somewhere,they will find another way how to defraud others,90.500000,0.563149
4,the report on the replacement of the president...,the news of the replacement at the top of the ...,74.666667,0.021549

### 3.2. Train, Development and Test sets <a class="anchor" id="3.2."></a>

In [480]:
## train-dev-test split
train, test = train_test_split(df, test_size=0.2)
test, dev = train_test_split(test, test_size=0.5)

In [422]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62150 entries, 47042 to 51489
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   reference    62150 non-null  object
 1   translation  62150 non-null  object
 2   avg-score    62150 non-null  float64
 3   z-score      62150 non-null  float64
dtypes: float64(2), object(2)
memory usage: 2.4+ MB

### 3.3. Bag of Words

In [14]:
# # creating Bag-of-Words
# cv = CountVectorizer(max_df=0.9, binary=True)
# # fitting and transforming based on the references
# references = cv.fit_transform(train[['reference', 'translation']])
# # only transforming the translations
# translations = cv.transform(dev[['reference', 'translation']])

In [15]:
baseline_encoder = CountVectorizer()
names = ['train', 'dev', 'test']
for i,df in enumerate([train, dev, test]):
    for column in ['reference', 'translation']:
        encoded_df = names[i] + '_encoded_' + column
        if i == 0:
            vars()[encoded_df] = baseline_encoder.fit_transform(df[column]).todense()
        else:
            vars()[encoded_df] = baseline_encoder.transform(df[column]).todense()
            
    y_name = 'y_' + names[i].split('_')[0]
    vars()[y_name] = np.array(df['avg-score'])

In [16]:
dev_encoded_reference

matrix([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

### BLEU

**How to evauate a translation: BLEU**\
One thing you might do is look at each word in the output sentence and assign it a score of 1 if it shows up in any of the reference sentences and 0 if it doesn’t. Then, to normalize that count so that it’s always between 0 and 1, you can divide the number of words that showed up in one of the reference translations by the total number of words in the output sentence. This gives us a measure called unigram precision.\
https://towardsdatascience.com/evaluating-text-output-in-nlp-bleu-at-your-own-risk-e8609665a213

\
**A Gentle Introduction to Calculating the BLEU Score for Text in Python**
https://machinelearningmastery.com/calculate-bleu-score-for-text-python/

\
**NLP Metrics Made Simple: The BLEU Score**\
https://towardsdatascience.com/nlp-metrics-made-simple-the-bleu-score-b06b14fbdbc1

In [24]:
## Example
reference = [['this', 'is', 'a', 'dog'], ['this', 'is' 'test']]
candidate = ['this', 'is', 'a', 'test']
score = sentence_bleu(reference, candidate)
print(score)

8.636168555094496e-78

In [25]:
# cumulative BLEU score
def avg_bleu_score(df, ngram = 'unigram'):
    bleu_scores = []
    for i in df.index:
        reference = []
        reference.append(df['reference'][i].split(' '))
        translation = df['translation'][i].split(' ')
        if ngram == 'bigram':
            bleu_scores.append(sentence_bleu(reference, translation, weights=(0.5, 0.5, 0, 0)))
        elif ngram == '3-gram':
            bleu_scores.append(sentence_bleu(reference, translation, weights=(0.33, 0.33, 0.33, 0)))
        elif ngram == '4-gram':
            bleu_scores.append(sentence_bleu(reference, translation, weights=(0.25, 0.25, 0.25, 0.25)))
        else:
            bleu_scores.append(sentence_bleu(reference, translation))
    return pd.Series(bleu_scores).mean()

In [26]:
avg_bleu_score(train)

0.2066788478294451

In [27]:
avg_bleu_score(train, ngram='bigram')

0.4084109024149746

In [28]:
avg_bleu_score(train, ngram='3-gram')

0.2964285578899232

In [29]:
avg_bleu_score(train, ngram='4-gram')

0.2066788478294451

In [ ]:
# # checking the correlation with the avg-score
# bleu_score_relation = pd.concat([train.reset_index(drop=True), pd.Series(bleu_scores)], axis = 1).iloc[:, -2:]
# bleu_score_relation.head()

In [ ]:
# bleu_score_relation.corr(method='pearson')

### ROUGE

**The Ultimate Performance Metric in NLP**\
https://towardsdatascience.com/the-ultimate-performance-metric-in-nlp-111df6c64460
http://www.ccs.neu.edu/home/vip/teach/DMcourse/5_topicmodel_summ/notes_slides/What-is-ROUGE.pdf

**How to evauate a translation: Rouge**

ROUGE-N measures the number of matching ‘n-grams’ between our model-generated text and a ‘reference’. Once we have decided which N to use — we now decide on whether we’d like to calculate the ROUGE recall, precision, or F1 score.\
ROUGE-L measures the longest common subsequence (LCS) between our model output and reference. All this means is that we count the longest sequence of tokens that is shared between both

In [ ]:
#!pip install rouge

In [17]:
from rouge import Rouge

 #### Example:

In [18]:
model_out = "he began by starting a five person war cabinet and included chamberlain as lord president of the council"
reference = "he began his premiership by forming a five-man war cabinet which included chamberlain as lord president of the council"
rouge = Rouge()

**How to evauate a translation: Rouge**\
The get_scores method returns three metrics, ROUGE-N using a unigram (ROUGE-1) and a bigram (ROUGE-2) — and ROUGE-L.
For each of these, we receive the F1 score f, precision p, and recall r.

In [129]:
scores=rouge.get_scores(model_out, reference)
print(scores)

scores[0]

[{'rouge-1': {'f': 0.7567567517604091, 'p': 0.7777777777777778, 'r': 0.7368421052631579}, 'rouge-2': {'f': 0.514285709289796, 'p': 0.5294117647058824, 'r': 0.5}, 'rouge-l': {'f': 0.7567567517604091, 'p': 0.7777777777777778, 'r': 0.7368421052631579}}]

{'rouge-1': {'f': 0.7567567517604091,
  'p': 0.7777777777777778,
  'r': 0.7368421052631579},
 'rouge-2': {'f': 0.514285709289796, 'p': 0.5294117647058824, 'r': 0.5},
 'rouge-l': {'f': 0.7567567517604091,
  'p': 0.7777777777777778,
  'r': 0.7368421052631579}}

# REAL

In [485]:
if len(train[train['translation']== '']) > 0:
    trans_list = train[train['translation']== ''].index.to_list()
    train=train.drop(trans_list,axis=0)
    
if len(train[train['reference']== '']) > 0:
    ref_list = train[train['reference']== ''].index.to_list()
    train=train.drop(ref_list,axis=0)
    
     
    
train=train.reset_index(drop = True)

In [495]:
metrics = ['rouge-1','rouge-2','rouge-l']

In [488]:
def rouge_df(df,metric):
    
    
    
    references =df['reference'].to_list()
    translation =df['translation'].to_list()
    scores=rouge.get_scores(translation, references)
    rougedf = pd.DataFrame()

    for score in scores:
        new_row = score[metric]
        rougedf = rougedf.append(new_row, ignore_index=True)
    rougedf.rename(columns={'f':'F1','p':'Precision','r':'Recall'},inplace=True)
    rougedf['z-score']=train.iloc[:, -1:]
    
    
        
    return(rougedf)

In [498]:
for metric in metrics:
    rougedf=rouge_score(train,metric)
    rougedf.corr(method='pearson')
    score = rougedf['z-score']
    
    rougescore_corr, rougescore_corr_pvalue = pearsonr(score,rougedf['F1'])
    rougescore_corr_ktau, rougescore_corr_ktau_pvalue = kendalltau(score, rougedf['F1'])
    print('Correlation scores for',metric,'metric \n')
    print(f'Pearson correlation between RougeScore and score on development set: {rougescore_corr} (p-value < 0.001: {rougescore_corr_pvalue < 0.001}); and Kendall Tau correlation: {rougescore_corr_ktau} (p-value < 0.001: {rougescore_corr_ktau_pvalue < 0.001})')
  
    rougescore_corr, rougescore_corr_pvalue = pearsonr(score,rougedf['Precision'])
    rougescore_corr_ktau, rougescore_corr_ktau_pvalue = kendalltau(score, rougedf['Precision'])

    print(f'Pearson correlation between RougeScore and score on development set: {rougescore_corr} (p-value < 0.001: {rougescore_corr_pvalue < 0.001}); and Kendall Tau correlation: {rougescore_corr_ktau} (p-value < 0.001: {rougescore_corr_ktau_pvalue < 0.001})')
    
    
    rougescore_corr, rougescore_corr_pvalue = pearsonr(score,rougedf['Recall'])
    rougescore_corr_ktau, rougescore_corr_ktau_pvalue = kendalltau(score, rougedf['Recall'])

    print(f'Pearson correlation between RougeScore and score on development set: {rougescore_corr} (p-value < 0.001: {rougescore_corr_pvalue < 0.001}); and Kendall Tau correlation: {rougescore_corr_ktau} (p-value < 0.001: {rougescore_corr_ktau_pvalue < 0.001})')
    print('\n')

Correlation scores for rouge-1 metric

Pearson correlation between RougeScore and score on development set: 0.34228032674754977 (p-value < 0.001: True); and Kendall Tau correlation: 0.23074329627786164 (p-value < 0.001: True)
Pearson correlation between RougeScore and score on development set: 0.3450855352440897 (p-value < 0.001: True); and Kendall Tau correlation: 0.23378636417716633 (p-value < 0.001: True)
Pearson correlation between RougeScore and score on development set: 0.29765611488539767 (p-value < 0.001: True); and Kendall Tau correlation: 0.20063017059068414 (p-value < 0.001: True)


Correlation scores for rouge-2 metric

Pearson correlation between RougeScore and score on development set: 0.3173364673674477 (p-value < 0.001: True); and Kendall Tau correlation: 0.21737790724120482 (p-value < 0.001: True)
Pearson correlation between RougeScore and score on development set: 0.3216755322898974 (p-value < 0.001: True); and Kendall Tau correlation: 0.22275372778251562 (p-value < 0.001: True)
Pearson correlation between RougeScore and score on development set: 0.29972587306612547 (p-value < 0.001: True); and Kendall Tau correlation: 0.20677549059809022 (p-value < 0.001: True)


Correlation scores for rouge-l metric

Pearson correlation between RougeScore and score on development set: 0.3484369906522827 (p-value < 0.001: True); and Kendall Tau correlation: 0.23798462926293376 (p-value < 0.001: True)
Pearson correlation between RougeScore and score on development set: 0.35311471983580184 (p-value < 0.001: True); and Kendall Tau correlation: 0.24384732164169842 (p-value < 0.001: True)
Pearson correlation between RougeScore and score on development set: 0.31407469734715576 (p-value < 0.001: True); and Kendall Tau correlation: 0.2160505496898739 (p-value < 0.001: True)

In [491]:
rougedf.corr(method='pearson')

                 F1  Precision    Recall   z-score
F1         1.000000   0.954852  0.946811  0.342280
Precision  0.954852   1.000000  0.814658  0.345086
Recall     0.946811   0.814658  1.000000  0.297656
z-score    0.342280   0.345086  0.297656  1.000000

### 3.3. Model <a class="anchor" id="3.3."></a>

### 3.4. Evaluation <a class="anchor" id="3.4."></a>